<!DOCTYPE html>
<html>
  <head>
    <title>BRIDESAP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>

    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
      <meta name="google-site-verification" content="hjbuUTvyksac2KiXdoXKH20_3GFg5aY0MFbD0h6Ckv4" />
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
